.comment-toggle {
  position: absolute;
  top: 10px;
  left: 0;
}
.comment-toggle > span.hide {
  position: absolute;
  left: 12px;
  opacity: 0;
}
.comment-toggle > span.fade-out {
  animation-name: fade-out;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.comment-toggle > span.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.comment-toggle > i.fas.flip-up {
  animation-name: flip-up;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.comment-toggle > i.fas.flip-down {
  animation-name: flip-down;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.comments-section {
  width: 100%;
  padding-top: .5px;
}
.comments-section.closed {
  animation-name: close;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.comments-section.open {
  animation-name: open;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.comments-section > .divider:first-child {
  margin: 22px 0 0;
  height: 1px;
}
.comments-section > .divider {
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto 10px;
  height: .4px;
}

.comments-section .comment {
  text-align: left;
  border-bottom: .6px solid #bbbbbb;
  padding-bottom: 12px;
  line-height: 1.4;
  font-size: .9rem;
  position: relative;
}
.comments-section .comment .time {
  font-size: .69rem;
  color: #666666;
  margin: 0;
}
.comments-section .comment .author {
  font-weight: 500;
}
.comments-section .comment .delete-comment {
  position: absolute;
  display: inline-block;
  top: -7px;
  right: 1px;
  color: #ff3860;
  cursor: pointer;
}
.comment .delete-comment .word {
  opacity: 0.6;
  position: relative;
  top: 1px;
  font-size: .8rem;
}
.comment .delete-comment .letter {
  font-size: 1rem;
  font-weight: 500;
}
.comment .delete-comment:hover .word {
  opacity: 1;
}
.comment .delete-comment:hover .letter {
  font-weight: 700;
}

.comments-section p.error-message {
  color: #ff3860;
  margin-bottom: 5px;
  line-height: 1.2;
  text-align: left;
}

.comments-section .error-message.loading {
  opacity: .7;
}

.comments-section form {
  text-align: right;
}
.comments-section form button {
  margin-top: 10px;
}
.comments-section p.no-comments,
.comments-section p.must-login {
  font-size: 1.1rem;
  margin-top: 10px;
  text-align: center;
}
.comments-section p.no-comments {
  margin-top: 20px;
}

/* Animations */
/* source: https://css-tricks.com/animate-to-an-inline-style/ */
@keyframes open {
  from { height: 0; }
}
@keyframes close {
  to { height: 0; }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;      
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;      
  }
  100% {
    opacity: 0;
  }
}

@keyframes flip-up {
  from {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  to {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);        
  }
}
@keyframes flip-down {
  from {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);   
  }
  to {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}