#search-form {
  text-align: right;
  position: relative;
}

#search-form label {
  text-align: left;
}

#search-form .powered-by-google {
  height: 30px;
  width: 62px;
  position: absolute;
  bottom: -4px;
  left: 2px;
}
.powered-by-google > img {
  height: 100%;
  width: 100%;
}