.box {
  position: relative;
  margin: 20px 40px;
  box-shadow: 0px 0px 10px #808080;
}

@media screen and (max-width: 565px) {
  .box {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 525px) {
  .box {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 505px) {
  .box {
    margin: 20px 0px;
  }
}