.box {
  position: relative;
  margin: 20px 40px;
  /* Also uses shadow style is defined in App.css */
}

@media screen and (max-width: 565px) {
  .box {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 525px) {
  .box {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 505px) {
  .box {
    margin: 20px 15px 20px 0;
  }
}